body{
    background-image: url("../images/page_bg.png");
    background-repeat: repeat-x;
    font-family: "Open Sans";
}

#wrapper{
    border: 2px solid #d5d4d2;
    padding: 10px 10px;
    max-width: 900px;
    margin: auto;
    background-color: white;
}

header{
    display: flex;
    padding-bottom: 10px;
}

#logo{
    float: left;
}

nav{
    float: right;
    width: 100%;
    text-align: right;
    margin: auto;
}
nav p{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

}
nav p a{
    color: #877663;
    text-decoration: none;
}
#banner{
    padding: 10px 15px 5px 14px;
    border: 1px solid cornflowerblue;
    margin: 0px 0px 10px 0px;
}

#content{
    display: flex;
}

#sidebar {
    float: left;
    font-size: 14px;
    padding: 0px 0px 0px 10px;
    margin-top: 0px;
    background-color: #D8EAF6;
}

#sidebar h3{
    padding-top: 10px;
    padding-bottom: 3px;
    margin: 0;
    font-weight: 700;
}

#sidebar li{
    list-style: none;
    padding: 0px 0 10px 0;
    font-size: 15px;
    width: 230px;
}

#sidebar ul{
    padding-left: 30px;
    text-align: left;
    width: 230px;
}

#main{
    float: right;
    padding: 0px 10px 0px 10px;
}

#main ul{
    padding-left: 30px;
}
#main h3{
    letter-spacing: -.1px;
    padding-top: 10px;
    padding-bottom: 2px;
    margin: 0;
    font-size: 18px;
}


